# Other sub git repo
/code/hmmlearn/.git*

# Pycharm cache
.idea/
# Python cache
__pycache__
# Intermediate datafiles
data/TIMIT.zip
data/TIMIT/*
data/timit/*
*.scp
*.lbl
*.ark
*.pkl
.data
data/34e2b78745138186976cbc27939b1b34d18bd5b3.torrent
# Latex intermediates
*.pdf
*.aux
*.log
*.out
*tex.gz

